:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-backround-color: #f5f4fa;
  --secondary-font-family: "Raleway", sans-serif;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  margin-right: 93px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}

.logo__web-text {
  color: var(--accent-color);
}

.logo__studio-text {
  color: #000000;
}

.footer__logo-studio {
  color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-killer {
  list-style: none;
}

.links {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-list__item .navigation-list__link,
.navigation-list__item .navigation-list__link,
.navigation-list__item .navigation-list__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover,
.navigation-list__link:focus,
.navigation-list__link:hover,
.navigation-list__link:focus,
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: var(--accent-color);
}

.underscore::after {
  content: "";
  height: 4px;
  display: block;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.navigation-list__link.underscore {
  color: var(--accent-color);
}

.navigation-list__link.underscore {
  color: var(--accent-color);
}

.navigation-list__link.underscore {
  color: var(--accent-color);
}

.adress__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.adress__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress__icon-envelope {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--accent-color);
}

.adress__link:hover .adress__icon-envelope,
.adress__link:focus .adress__icon-envelope {
  fill: var(--accent-color);
}

.navigation-list .navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.adress .adress__item:not(:last-child) {
  padding-right: 50px;
}

.adress {
  font-style: normal;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-tel,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-location:hover,
.footer-location:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer {
  background: #2f303a;
}

.footer-adress-list {
  margin-right: 70px;
}

.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.join-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-soc-list {
  gap: 10px;
}

.icon-join {
  fill: #ffffff;
}

.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.062745098);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.newsletter-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  height: 50px;
  width: 358px;
  padding-left: 16px;
}

.newsletter-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 28px;
  margin-left: 12px;
  min-width: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-btn-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.newsletter-btn:hover,
.newsletter-btn:focus {
  background-color: #188ce8;
}

.order-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  min-width: 216px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background: #188ce8;
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Portfolio/bgimage.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Portfolio/bgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 210px;
}

.hero-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.hero-div {
  text-align: center;
}

.advantages .advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 10px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden-title {
  text-align: center;
}

.advantages-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.advantages-info-container {
  width: 270px;
}

.advantages:not(:last-child) {
  margin-right: 30px;
}

.adress .advantages {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages {
  width: calc((100% - 90px) / 4);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-svg {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.regular-customers {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.custumer-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.custumer-list-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumer-list-link:hover .customer-icon,
.custumer-list-link:focus .customer-icon {
  fill: #2196f3;
}

.custumer-list-link:hover,
.custumer-list-link:focus {
  border-color: #2196f3;
}

.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
}

.member-name {
  text-align: center;
  margin-bottom: 10px;
}

.our-team .team-member .about-member {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.about-member {
  text-align: center;
  margin-bottom: 16px;
}

.team-member {
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill: #afb1b8;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}

.member {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.first-photo,
.second-photo,
.third-photo {
  position: relative;
}

.description {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about.section {
  padding-top: 0;
}/*# sourceMappingURL=main.css.map */