html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-backround-color: #f5f4fa;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

/* УТИЛІТИ */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* НАВІГАЦІЯ */
.navigation-list-item .navigation-link-studio,
.navigation-list-item .navigation-link-portfolio,
.navigation-list-item .navigation-link-contacts {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-studio:hover,
.navigation-link-studio:focus,
.navigation-link-portfolio:hover,
.navigation-link-portfolio:focus,
.navigation-link-contacts:hover,
.navigation-link-contacts:focus {
  color: var(--accent-color);
}
.underscore::after {
  content: "";

  height: 4px;
  display: block;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.navigation-link-portfolio.underscore {
  color: var(--accent-color);
}
.navigation-link-studio.underscore {
  color: var(--accent-color);
}
.navigation-link-contacts.underscore {
  color: var(--accent-color);
}

.list-killer {
  list-style: none;
}
.links {
  text-decoration: none;
}

.adress-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-flex {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.adress {
  display: flex;
  margin-left: auto;
}
.adress-link {
  display: flex;
  align-items: center;
}
.icon-envelope {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}
.adress-link:hover .icon-envelope,
.adress-link:focus .icon-envelope {
  fill: var(--accent-color);
}

.navigation-list .navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.adress .adress-item:not(:last-child) {
  padding-right: 50px;
}

/* ГЕРОЙ */
.advantages-svg {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.header-svg-list {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.order-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;

  min-width: 216px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background: #188ce8;
}
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Portfolio/bgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 210px;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.hero-div {
  text-align: center;
}

.logo {
  margin-right: 93px;
}

/* ЛОГО */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;

  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
.footer-logo-studio {
  color: #ffffff;
}
/* переваги */
.adress .advantages {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.advantages {
  width: calc((100% - 90px) / 4);
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.advantages-info-container {
  width: 270px;
}
.advantages:not(:last-child) {
  margin-right: 30px;
}

.hidden-title {
  text-align: center;
}
.adress {
  font-style: normal;
}
.advantages .advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-title {
  margin-bottom: 10px;
}
.list {
  display: flex;
}
.advantages-list {
  display: flex;
  justify-content: center;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.first-photo,
.second-photo,
.third-photo {
  position: relative;
}
.description {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
}
.about.section {
  padding-top: 0;
}
.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-section {
  background-color: #f5f4fa;
}
.our-team .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  letter-spacing: 0.03em;
}
.member-name {
  text-align: center;
  margin-bottom: 10px;
}

.our-team .team-member .about-member {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.about-member {
  text-align: center;
  margin-bottom: 16px;
}
.team-member {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
  fill: #afb1b8;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
}
.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}

.member {
  flex-basis: calc((100% - 90px) / 4);
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}
.member {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* постійні клієнти */
.regular-customers {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customer-list {
  display: flex;
  gap: 30px;
}
.custumer-list-item {
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.custumer-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custumer-list-link:hover .customer-icon,
.custumer-list-link:focus .customer-icon {
  fill: #2196f3;
}
.custumer-list-link:hover,
.custumer-list-link:focus {
  border-color: #2196f3;
}

/* футер */
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  color: #ffffff;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-tel,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-location {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-location:hover,
.footer-location:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer {
  background: #2f303a;
}
.footer-adress-list {
  margin-right: 70px;
}
.join-link:hover,
.join-link:focus {
  background-color: #2196f3;
}
.join-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.join-soc-list {
  display: flex;
}
.join-soc-list {
  gap: 10px;
}
.icon-join {
  fill: #ffffff;
}
.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* портфоліо */

.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filters button {
  color: var(--primary-text-color);
  background-color: var(--button-backround-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-width: 0;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.filters-buttons {
  margin-right: 8px;
}

.btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  margin-top: 100px;
}
.list-item .poster-title {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);

  letter-spacing: 0.06em;
}

.list-item .poster-filter {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.main-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.poster-description {
  position: relative;
  overflow: hidden;
}
.posters-link:hover .poster-description-text,
.posters-link:focus .poster-description-text {
  transform: translateY(0);
}
.posters-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.poster-description-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.posters-link:hover,
.posters-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.poster-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.poster-title {
  margin-bottom: 4px;
}

.logo-footer {
  margin-bottom: 20px;
  margin-right: 0;
  display: inline-block;
}
.footer-adress-space:not(:last-child) {
  margin-bottom: 9px;
}

/* Модальне вікно */
.backdrop {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* Форма */
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: #2196f3;
}
.form {
  display: flex;
  flex-direction: column;

}
.form-title {
 
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.checkbox {
  display: flex;
}
.policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px 0;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:hover,
.input:focus {
  border: 1px solid #2196f3;
}
.input:hover + .input-icon,
.input:focus + .input-icon {
  fill: #2196f3;
}

.order-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.order-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.order-textarea:hover,
.order-textarea:focus {
  border: 1px solid #2196f3;
}
.input,
.order-textarea{
  font-size: 12px;
}
.order-form-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 200px;
}
.input-wrapper input {
  width: 100%;
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.order-form-btn:hover,
.order-form-btn:focus {
  background-color: #188ce8;
}
.policy-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
}
.modal-check:checked + .policy-text span {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:focus + .policy-text span {
  border-color: #2196f3;
}
.checkbox{
  padding-left: 12px;
}
.policy-link {
  text-decoration-line: underline;

  color: #2196f3;
}

/* розсилка */
.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}
.newsletter {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.newsletter-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  height: 50px;
  width: 358px;
  padding-left: 16px;
}
.newsletter-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 28px;
  margin-left: 12px;
  min-width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.newsletter-btn-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
.newsletter-btn:hover,
.newsletter-btn:focus {
  background-color: #188ce8;
  
}
