.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close:hover .icon-close,
  .modal-close:focus .icon-close {
    fill: #2196f3;
  }
  .form {
    display: flex;
    flex-direction: column;
  
  }
  .form-title {
   
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  .checkbox {
    display: flex;
  }
  .policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
  
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-color);
  }
  .form-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
  
    letter-spacing: 0.01em;
  
    color: var(--secondary-text-color);
    margin-bottom: 4px;
  }
  .input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input:hover,
  .input:focus {
    border: 1px solid #2196f3;
  }
  .input:hover + .input-icon,
  .input:focus + .input-icon {
    fill: #2196f3;
  }
  
  .order-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
  }
  .order-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  .order-textarea:hover,
  .order-textarea:focus {
    border: 1px solid #2196f3;
  }
  .input,
  .order-textarea{
    font-size: 12px;
  }
  .order-form-btn {
    color: var(--primary-white-color);
    background-color: #2196f3;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    font-family: inherit;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 52px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 200px;
  }
  .input-wrapper input {
    width: 100%;
  }
  .input-wrapper {
    position: relative;
    margin-bottom: 10px;
  }
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .order-form-btn:hover,
  .order-form-btn:focus {
    background-color: #188ce8;
  }
  .policy-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    fill: transparent;
  }
  .modal-check:checked + .policy-text span {
    background-color: #2196f3;
    border: none;
    fill: #ffffff;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-check:focus + .policy-text span {
    border-color: #2196f3;
  }
  .checkbox{
    padding-left: 12px;
  }
  .policy-link {
    text-decoration-line: underline;
  
    color: #2196f3;
  }
  